body {
  background-color: burlywood;
}
#red {
  color: red;
  font-size: 50px;
}
h1 {
  background-color: gray;
}
h2 {
  background-color: darkorange;
}
p {
  background-color: bisque;
  margin-top: 5%;
  padding-bottom: 10%;
}

.blue {
  background-color: aqua;
}
button {
  color: red;
}
